* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Epilogue", sans-serif;
  padding: 0 5px 0 5px;
  margin-bottom: 80px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  height: 80px;
}
nav a,
nav button {
  font-size: 1.2rem !important;
  text-decoration: none;
  color: black;
}
.logo-container {
  display: flex;
}
.logo-container li {
  margin: 0 16px;
}
.btns {
  display: flex;
  flex-direction: row;
}
.logo {
  margin-left: 2rem;
}
button {
  background-color: white;
  outline: none;
  padding: 7px 14px;
  border: none;
  transition: all 0.5s ease-in-out;
}
button:hover {
  border: 1px solid #3b3a3a;
  border-radius: 7px;
}
.hero-section {
  display: flex;
  justify-content: space-evenly;
  margin: 32px auto 0;
}
.remote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  /* padding-left: 40px; */
  /* border: 2px solid red; */
}
.code {
  width: 30%;
  height: 450px;
}
h1 {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 2rem;
  padding-top: 20px;
  padding-right: 30px;
}
.remote p {
  color: gray;
  margin-bottom: 2.5rem;
  line-height: 1.5;
  font-weight: 500;
  font-size: 14px;
}
.remote button {
  display: inline-block;
  border-radius: 7px;
  background-color: black;
  color: white;
  outline: none;
  width: 130px;
  margin-bottom: 50px;
  padding: 13px 20px;
  text-align: center;
}
figure {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
figure img {
  width: 50px;
  height: auto;
}
.grouped-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.mobile-image {
  display: none;
}
.icon {
  display: none;
}
@media all and (max-width: 760px) {
  /* body {
    color: white;
    background-color: darkblue;
  } */
  .hero-section {
    flex-direction: column-reverse;
  }
  .grouped-links {
    display: none;
  }
  .mobile-image {
    display: block;
  }
  .code {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  .remote {
    text-align: center;
    width: 100%;
  }
  .remote button,
  figure {
    margin: 10px auto;
  }
  .remote p {
    margin: 0 auto;
  }
  figure img {
    margin: 0 5px;
  }
  .icon {
    display: inline-block;
    margin-right: 10px;
  }
}
